<h1>Covid 19 Country Reports</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let element">{{element.country}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef>Total cases</th>
    <td mat-cell *matCellDef="let element">{{element.cases}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tests">
    <th mat-header-cell *matHeaderCellDef>Total tests</th>
    <td mat-cell *matCellDef="let element">{{element.tests}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef>Deaths</th>
    <td mat-cell *matCellDef="let element">{{element.deaths}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let element">{{element.active}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>